VITE_SUPABASE_URL=https://pdfdigsuqndgxzffqrwe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkZmRpZ3N1cW5kZ3h6ZmZxcndlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNTE2OTMsImV4cCI6MjA5ODYyNzY5M30.xnRqQNFqIjRptYaLs02a0PsJpULox1Mk6H8Ki6MPBKI
GEMINI_API_KEY=AQ.Ab8RN6IAX1P6S1KWDhxDu_n3x_W38W16kJ4fbES55RsS95Qqog
MODEL_API_URL=http://127.0.0.1:8000
# Vercel Frontend -> Render Backend URL
VITE_API_URL=https://skin-cancer-rp2s.onrender.com

# Backend -> Python Model Server URL
MODEL_API_URL=https://skin-cancer-rp2s.onrender.com
